{% extends  'blog/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam doloremque voluptas soluta repudiandae totam officia quaerat praesentium alias quisquam explicabo, natus dignissimos harum corporis iste vel. Reprehenderit optio commodi rem vel eos aspernatur temporibus dicta voluptas. Veniam maiores pariatur obcaecati.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque voluptatibus numquam non impedit harum vero quia. Rem laboriosam dolorum fuga ut est reiciendis, quas id suscipit nobis nulla sunt veritatis, eum quod eveniet quidem cum, sed voluptas itaque reprehenderit maiores!</p>

</div>
{% endblock content %}